
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #678edc;
    color: #333;
}

/* Navbar */
.navbar {
    background: #ffffff;
    width: 100%;
    padding: 12px 0;
    position: fixed;
    top: 0;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar ul li {
    margin: 0 18px;
}

.navbar ul li a {
    text-decoration: none;
    color: #0066cc;
    font-size: 17px;
}

.navbar ul li a:hover {
    color: #003d80;
}

/* Section Base */
section {
    padding: 100px 20px;
}

/* hnji Class - Common Container */
.hnji {
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding: 20px 15px;
}

/* Home Section */
.Profile-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 3px solid #0066cc;
    object-fit: cover;
    margin-bottom: 15px;
}

h1 {
    font-size: 35px;
    margin-top: 10px;
}

.info {
    font-size: 18px;
    color: #555;
}

/* About Section */
#about p {
    max-width: 650px;
    margin: 10px auto;
    color: #444;
    line-height: 1.6;
}

/* Skills */
#skills ul {
    list-style: none;
    max-width: 350px;
    margin: auto;
    text-align: left;
}

#skills ul li {
    background: #e7efff;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border-left: 4px solid #6014cb;
}

/* Projects */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.projects-card {
    background: #ffffff;
    border: 1px solid #dce3ee;
    padding: 18px;
    border-radius: 10px;
}

.projects-card h3 {
    color: #0052a3;
    margin-bottom: 8px;
}

.demo-btn {
    padding: 8px 15px;
    background: #0066cc;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.demo-btn:hover {
    background: #004a99;
}

/* Contact Form */
.Contact-form {
    max-width: 400px;
    margin: auto;
    text-align: left;
}

.Contact-form label {
    margin-top: 10px;
    display: block;
}

.Contact-form input,
.Contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #c7d1e0;
    border-radius: 5px;
    font-size: 15px;
}

.Contact-form button {
    width: 100%;
    padding: 12px;
    background: #0066cc;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
    border-radius: 5px;
}

.Contact-form button:hover {
    background: #004f99;
}

/* Contact Links */
.contact-links {
    margin-top: 15px;
}

.contact-links a {
    color: #080808;
    text-decoration: none;
}

.contact-links a:hover {
    color: #004f99;
}

/* Footer */
footer {
    background: #ffffff;
    padding: 12px 0;
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #050606;
    color: #2b0cdb;
}
